*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-first-part{
    min-height: 70px;
    width: 100%;
    background-color: aquamarine;
}

.row {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 15px;

}

.col-sm{
    width: 25%;
    background-color: yellowgreen;
    border: 1px solid black;
    padding: 10px 10px;
}

.col-sm.dx{
    text-align: end;
}

.col-large{
    width: 50%;
    background-color: yellowgreen;
    border: 1px solid black;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

li{
    padding: 10px 20px;

}

.header-second-part{
    height: 500px;
    width: 100%;
    background-color: blue;
}