*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    min-height: 70px;
    background-color: aquamarine;
}

.header-first-part{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}

.row{
    width: 100%;
    display: flex;
}

.col-sm{
    width: 25%;
    background-color: yellowgreen;
    border: 1px solid black;
    padding: 10px 10px;
}

.col-sm.dx{
    text-align: end;
}

.col-large{
    width: 75%;
    background-color: yellowgreen;
    border: 1px solid black;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

li{
    padding: 10px 20px;

}

.background-blue{
    background-color: blue;
}

.header-second-part{
    height: 500px;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    
}



.col-pink{
    height: 400px;
    background-color: pink;

}

.main-first-section, .main-third-section{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}



.col-lightblue{
    height: 600px;
    width: 60%;
    background-color: lightblue;
}

.col-violet{
    height: 600px;
    width: 40%;
    background-color: violet;
}

.background-grey{
    background-color: lightgray;
}

.main-second-section{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    
}

.main-fourth-section{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    
}

.row2{
    width: 100%;
}



.col-green{
    height: 1000px;
    background-color: green;
}

.background-black{
    background-color: black;
}

.footer-section{
    width: 70%;
    margin: 0 auto;
    height: 500px;
    padding: 20px 0;
    
    
}



.col-orange{
    height: 450px;
    width: 60%;
    background-color: orange;
}

.col-red{
    height: 450px;
    width: 40%;
    background-color: red;
    border: 1px solid black;
}

.footer2{
    height: 100px;
    width: 100%;
    margin-top: 2px;
}



.rectangle{
    width: 100%;
    height: 80px;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
}
 
.footer-logo, .footer-button{
    background-color: pink;
    font-size: 20px;
    margin: auto 0;
    line-height: 2;
    padding: 0px 5px;

    
}